@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 70px;
}
/* top-part-style */
.copa-america{
    background: #2D25A0;
    display: flex;
    overflow: hidden;
}
.discription{
    margin-right: 105px;
    margin-left: 156px;
    margin-bottom: 159px;
    margin-top: 207px;
}
.name{
    font-size: 64px;
    color: #FFFFFF;
}
.live{
    background-color: #E02C6D;
    width: 168px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 27px;
    color: #FFFFFF;
   
}
a{
    text-decoration: none;
    color: #FFFFFF;
   
}
.theme-pic img{
    width: 556px;
    height: 438px;
    margin-right: 136px;
    margin-top: 153px;
    margin-bottom: 86px;
}
.copa-america:hover .theme-pic{
    transform: rotate(360deg);
    transition: transform 4s ease-in-out;
}
.live:hover {
    transform: scale(1.2);
}
/* top-part-end */
/* player-part */
.player{
    width: 300px;
    height: 426px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left:180px ;
    margin-right: 210px;
}
   /* player-part-end */

/* top-player-part */
.best-player{
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color:blanchedalmond;
    padding: 15px;
    overflow: hidden;
}
h2{
    color:rosybrown;
}
  .top-player{
      display: flex;
    
  }

.top-player-img img{
    width: 100%;
}
.top-player-info{
 color: lightslategray;
}
.goat{
   display: none;
}
.best-player:hover .goat{
    display: block;
}
/* champion-team-part */
.the-champions{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    box-shadow: 0 0 50px ghostwhite ;
    
}
.champion{
    position: relative;
    overflow: hidden;
}

.champion-pic img{
    height: 400px;
    width: 600px;
}
.champion-info{
    color: wheat;
    height: 200px;
    width: 600px;
    margin-left: 360px;
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(150, 122, 53, 0.397);
}
.champion:hover .champion-info{
    display: block;
}
.champion:hover .champion-pic{
    transform: scale(1.2);
}
/* footer-start */

.copyright{
    margin-right: 481px;
    margin-left: 400px;
    margin-top: 50px;
width: 480px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.football-img img{
    width: 100%;
}
.icon{
    color: grey;
    margin-right:10px ;
}
/* responsive */
/* 
mobile */
@media only screen and (max-width:688px) {
    .container{
       width:100%;
    }
    .copa-america{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .theme-pic img{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .top-player{
        flex-direction: column;
    } 
   .copyright{
       width: 100%;
       margin-left: 0;
       margin-right: 0;
   }
   .football-img{
       width: 90%;
   }
}
/* tablet-device */
@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width:100%;
     }
     .copa-america{
         
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .theme-pic img{
         width: 100%;
     }
     .players{
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
     }
     .top-player{
         flex-direction: column;
     } 
    .copyright{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 100px;
    }
    .football-img{
        width: 90%;
    }
}
@media only screen and (min-width:993px) and (max-width:1312px) {
    .container{
        width:100%;
     }
     .copa-america{
         
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .theme-pic img{
         width: 100%;
     }
     .players{
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
     }
     .top-player{
         flex-direction: column;
     } 
    .copyright{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 100px;
    }
    .football-img{
        width: 90%;
    }
}